body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("body.jpg")  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
   background-size: cover;
  
}
.container{
  margin-top: none;
}
h1{
  color:white;
  text-transform: uppercase;

}
.btn-custom{
  text-transform: uppercase;
  border-radius: 300px;
  font-weight: 700;
  padding: 1em 2em;
}
.buffer{
  height:5em;
}